AcceptEnv LANG LC_* TERM TERM_PROGRAM TERM_PROGRAM_VERSION COLORFGBG COLORTERM VTE_*

# Disable password-based logins.
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no

# Don't resolve hostnames.
UseDNS no

# Use something other than the default port (22).
# Replace 1234 with something more reasonable.
Port 1234
