/* This should get copied to the following location under a Mac:
 *   ~/Library/Application Support/Google/Chrome/Default/User StyleSheets
 *
 * Note: Custom.css isn't supported by Chrome anymore, but you can drop
 * these into the Stylish extension for Chrome.
 */
/* @document domain("mail.google.com") */
/*{*/
    /* GMail messages and textarea should use fixed-width font */
    div[role="main"] table[role="presentation"] tr td.Bu .gs .ii {
        font-family: "DejaVu Sans Mono" !important;
    }
    div.editable[role="textbox"] {
        font-family: "DejaVu Sans Mono" !important;
    }
/*}*/
/* @document domain("github.com") */
/*{*/
    textarea[name="comment[body]"], textarea[name="issue[body]"],
    textarea[name="issue_comment[body]"],
    textarea[name="pull_request_review_comment[body]"] {
        font-family: "DejaVu Sans Mono" !important;
        font-size: 10pt !important;
    }
/*}*/
